body {
    display: grid;
    background-image: url("images/background.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    justify-content: center;
    align-items: center;
}

#app {
    display: grid;
    width: 120%;
    grid-auto-rows: minmax(150px, auto);
    /*grid-template-areas: "imp imp imp imp" "butt butt butt butt";*/
    height: 100vh;
    background: rgb(136, 146, 203);
    background: linear-gradient(0deg, rgb(136, 146, 203) 0%, rgb(0, 9, 60) 100%);
    color: white;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder {}

.entry {
    background: rgba(59, 74, 107, .4);
    color: rgb(255, 255, 255, 0.2);
}

#entryHolder {}

#date {}

#temp {}

#content {}

.headline {}

.title {}


/*  Basic Styling To Override Default For Basic HTML Elements */

.holder.headline {
    font-size: 3em;
    margin: auto;
}

label {
    display: block;
    font-size: 27px;
    border-radius: 5px;
}

input {
    display: block;
    height: 60px;
    width: 100%;
    background: #a4c5ce;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    height: 50px;
    background: #3b4a6b;
    color: rgba(136, 203, 171, 0.5);
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
}

h1 {
    font-size: 36px;
}

textarea {
    background: #a4c5ce;
    width: 100%;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
}


/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    border: black;
    outline: white;
    box-shadow: black;
}

button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px black;
}


/* Style for Placeholder Text*/

::placeholder {
    /* Firefox, Chrome, Opera */
    color: black, 50%;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black, 50%;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black, 50%;
    font-family: 'Oswald', sans-serif;
}